torch -f https://download.pytorch.org/whl/cu117/torch_stable.html
torchvision
numpy
Pillow
timm
visdom
torchviz
imgaug
dominate
wget
tqdm
git+https://github.com/nupurkmr9/vision-aided-gan.git
einops
torchinfo
addict
thop
