name: black
on: pull_request
jobs:
  black:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: 3.10.19
      - run: |
          python -m pip install --upgrade pip
          pip install black==24.2.0
      - run: |
          black --check --verbose .
