-f https://download.pytorch.org/whl/cu113/torch_stable.html
-f https://download.openmmlab.com/mmcv/dist/cu113/torch1.11/index.html
torch==1.10.1+cu113
numpy==1.19.5
Pillow==8.4.0
torchvision==0.11.2+cu113 
timm==0.5.4
visdom==0.1.8.9
torchviz
imgaug
pydantic
wget
git+https://github.com/nupurkmr9/vision-aided-gan.git
mmsegmentation==0.22.1
